.all{
  background-image: url("../images/pink.jpg");
  background-size: cover;
 color: black;
  padding-top: 3%;

}
#all{
  background-color: rgba(169, 169, 169, 0.65);
  padding: 1%;
  text-align: center;
}
.btn.btn-error{
  position: absolute;
  top: 8%;
  right: 9%;	
	
}
.fill{
  height: 600px;
}
.btn.btn-primary{
  
}


