#all{
   text-align: center;
}
.all{
  background-image: url("../images/blackCut.jpeg");
  background-size: cover;
  color: white;
  padding-top: 3%;


 
}

.btn{
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
	
}

.fill{
  height: 800px;
}

