.all{
  background-image: url("../images/bk.jpg");
  background-size: cover;
 	color: white;
  padding-top: 3%;
 
}
.fill{
  height: 200px;
}
#rect{
	padding: 1%;
	background-color: rgba(169, 169, 169, 0.65);
}
.modal{
	color: black;

}

#title{
	color: white;
}

.calendar-container{
	background-color: black;
}
.calendar-header{
	background-color: black;
}
.navbar-primary{
	color: black;
}
#img{
	width: 100%;
  height: auto;
}
#imgA{
	
  height: 590px;
}
#col{
	color: black;
}
#haut{
	height: 50px;
}
.kbd{
	font-size: 24px;
}









