body
{
	 margin-left: 10%;
	 margin-right: 10%;
}

#accueil
{
	border-style: solid;
	position : center;
	text-align : center;
	margin-top: 50px;
}

#EnregistrerLesHoraires{
	position : left;
	margin-top : 25%;
}

#ConsulterPlanning{
	position : right;
	margin-top : -2%;
	margin-left : 80%;
}